.loading-container canvas {
  background-color: var(--primary) !important;
}

.loading-wrapper {
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 3;
}

/* animation to rotate the loader */
.loader-anim svg {
  animation: rotate 0.5s linear infinite;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(180deg);
  }
}
